* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


p {
	font-size: 14px;
	font-weight: 300;
	line-height: 26px;
	color: #4b4b4b;
}
img {
	max-width: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}
.clear {
    clear: both;
}
main,
header,
section,
.store_faetures ul,
.footer_features ul,
footer {
	width: 100%;
	float: left;
}
header {
	padding: 20px 0;
	text-align: center;
}
header a {
	display: inline-block;
}
.store_features {
	background: #323b47;
}
.store_features li {
	width: 25%;
	display: table;
	float: left;
}
.store_features li div {
	padding-right: 5%;
	width: 30%;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.store_features li h3 {
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
	font-weight: 400;
	color: #FFF;
}
.store_features li h3 span {
	font-size: 13px;
	font-weight: 300;
}
.title {
	padding: 20px;
	border: 1px solid #e9e9e9;
	border-top: none;
	text-align: center;
}
.title h2 {
	font-size: 24px;
	font-weight: 400;
	color: #323b47;
}

.title h3 {
	font-size: 24px;
	font-weight: 400;
	color: #323b47;
}

.temp_content {
	margin-bottom: 40px;
}
.temp_content h2 {
	padding: 12px 20px;
	background: #323b47;
	font-size: 24px;
	font-weight: 400;
	color: #FFF;
}

.temp_content h3 {
	padding: 12px 20px;
	margin-bottom: 10px;
	background: #323b47;
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
}

.description {
	padding: 20px;
	border: 1px solid #e9e9e9;
	border-top: none;
}
.description ul {
	margin-bottom: 20px;
}
.description ul li,
.tab-content ul li {
	padding: 5px 10px 5px 20px;
	background: url(https://5ivot.com/ebay/templates/images/temp6/bullet.png) left 10px no-repeat;
	font-weight: 300;
	font-size: 14px;
	color: #4b4b4b;
}
.vertabs {
	margin-bottom: 40px;
}
/*CSS VRETICAL TABS*/
.css_tab {
    width: 100%;
    float: left;
    position: relative;
}
.css-tab {
    display: none;
}
.css_tab li {
    display: inline-block;
    float: left;
    width: 100%;
}
.css_tab li label {
    padding: 15px;
    width: 250px;
    background: #323b47;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    position: absolute;
    left: 1px;
    top: 1px;
    float: left;
    cursor: pointer;
}
.css_tab li:nth-child(2) label {
    top: 52px;
}
.css_tab li:nth-child(3) label {
    top: 103px;
}
.css_tab li:nth-child(4) label {
    top: 154px;
}

.css-tab:checked + .tab-label {
    background: #FFF;
	color: #323b47;
}
.tab-label:hover {
    background: #F2F2F2;
	color: #323b47;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4 {
    display: block;
}
.tab-content {
    padding: 30px 20px 30px 270px;
    width: 100%;
    border: solid 1px #e9e9e9;
    display: none;
    text-align: left;
    float: left;
    min-height: 204px;
}
.tab-content h2{
	margin-bottom: 20px;
	text-align: center;
    font-size: 24px;
	letter-spacing: 1px;
    font-weight: 400;
    color: #323b47;
}

@media only screen and (max-width: 840px) {
	.store_features {
		text-align: center;
	}
	.store_features ul {
		display: none;
	}
	/*tab-css*/
    .css_tab li label {
        padding: 15px;
        width: 100% !important;
        position: static;
        background: #323b47 url(https://5ivot.com/ebay/templates/images/temp6/plus.png) right center no-repeat;
        text-align: left;
        border: none;
    }
    .css_tab li{
        margin-bottom: 1px;
    }
    .tab-content {
        padding: 15px 20px;
    }
    .css_tab li label:hover{
        background: #d8d8d8 url(https://5ivot.com/ebay/templates/images/temp6/plus.png) right center no-repeat;
        border: none;
    }
    .css-tab:checked + .tab-label{
        border-bottom: 1px solid #ddd;
        background: #d8d8d8 url(https://5ivot.com/ebay/templates/images/temp6/images/minus.png) right center no-repeat;
    }
	.footer_features ul li {
		margin-right: 4%;
		width: 48%;
	}
	.footer_features ul li:nth-child(2n) {
		margin-right: 0;
	}
	.title {
		border: 1px solid #e9e9e9;
	}
}
@media only screen and (max-width: 640px) {
	.footer_features ul li {
		margin-right: 0 !important;
		width: 100%;
	}
	.thumbnails .gallery_content,
	.white-box {
		height: 400px;
	}
}

/*MCCUSTOM ADDITIONS*/
p {
	margin-bottom: 200px;
}

.real h4 {
	text-align: center;
	padding: 12px 20px;
	background: #93c47d;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.fake h4 {
	text-align: center;
	padding: 12px 20px;
	background: #e06666;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.description img {
	align-content: center;
	text-align: center;
}